body {
  background: #de6262; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffb88c,
    #de6262
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffb88c,
    #de6262
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  margin: 0;
  display: flex; /* center alignment */
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
}

h2 {
  margin: 0;
  margin-bottom: 0.5rem;
}

select {
  margin-left: 0.5rem;
}

.input {
  border: 2px solid rgb(153, 75, 75);
  padding: 0.2rem;
  width: 9em;
  border-radius: 0.5em;
}

#equal {
  font-size: 2rem;
  font-weight: bold;
}
